body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #fbfbf5 !important;
}